body {
  width: 960px;
  background-color: whitesmoke;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: flex;
  margin-top: 180px;
  justify-content: center;
}

.glass {
  border: 2px solid black;
  margin-right: 40px;
  margin-left: 40px;
  height: 300px;
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}

.water-block {
  height: 30%;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.41);
}

.red {
  background-color: palevioletred;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: lightskyblue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}